<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Elseco</title>
        <link rel="stylesheet" href="{% static 'css/admin.css' %}">

        <style>
            .addproduct-btn{
                padding: 10px 20px;
                width: 85%;
                background-color: #1E90FF;
                color: #fff;
                border: 0;
                cursor: pointer;
                border-radius: 5px;
                font-size: 1.5em;
                font-weight: bold;
                text-align: center;
            }

            @media (max-width:1023px) {
                .addproduct-btn{
                    width: 90%;
                }
            }


            .product .product-card{
                width: 300px;
            }
    
            .product .product-card img{
                width: 100%;
                height: 250px;
            }
            
    
            @media (max-width:1024px) {
                .store{
                    padding-top: 25%;
                }
    
                .product .product-card{
                    width: 300px;
                }
            }
        </style>
    </head>
    <body>
        <header class="header1">
            <a href="{% url 'index' %}"><h1 class="log"><img src="{% static 'image/icon.png' %}" width="45px"><span class="span1">Else<span class="span2">Co</span></h1></a>    
    
            <!-- more -->
    
            <nav class="more">
    
                <input class="checkbox" type="checkbox" id="check">
                <label for="check">
                <i class="fa-solid fa-bars" id="btn" onclick="side_on()"></i>
                <i class="fa-solid fa-times" id="cancel" onclick="side_of()"></i>
        
            </label>
                <div class="sidebar" id="sidebar">
                    <header style="color: orange;font-size:2.6em">تعديل</header>
                    
                    <ul>
                        <div>
                            <h1><img src="{% static 'image/icon.png' %}" width="45px">
                            <h1>Else<span>Co</span></h1></a>
                        </div>
                        <li><a href="{% url 'edithome' %}"><i class="fa-sharp fa-solid fa-house-chimney"></i>الرئيسية</a></li>
                        <li><a href="{% url 'editposts' %}"><i class="fa-solid fa-pen-to-square"></i>المنشورات</a></li>
                        <li><a href="{% url 'editstore' %}"><i class="fa-solid fa-store"></i>المتجر</a></li>
                        <li><a href="{% url 'zapayn' %}"><i class="fa-solid fa-arrow-trend-up"></i>الزبائن</a></li>
                        <li><a href="{% url 'active' %}"><i class="fa-solid fa-circle-dot"></i>حالة المحل</a></li>
                        <li><a href="{% url 'editchecks' %}"><i class="fa-solid fa-splotch"></i>الحجوزات</a></li>
                        <li><a href="{% url 'editoffers' %}"><i class="fa-solid fa-fire"></i>العروض</a></li>
                        <li><a href="{% url 'editadmin' %}"><i class="fa-solid fa-user"></i>الأدمن</a></li>
                    </ul>
                </div>
            </nav>
    
        </header>
        
    
        <!-- sections -->
        <section class="section-home">
            <div class="admin-side">
                <h1>صفحة التعديلات</h1>
                <ul>
                    <li><a href="{% url 'edithome' %}">الرئيسية<i class="fa-sharp fa-solid fa-house-chimney"></i></a></li>
                    <li><a onclick="post_btn()" href="{% url 'editposts' %}">المنشورات<i class="fa-solid fa-pen-to-square"></i></a></li>
                    <li><a onclick="store_btn()" href="{% url 'editstore' %}">المتجر<i class="fa-solid fa-store"></i></a></li>
                    <li><a onclick="zapayn_btn()" href="{% url 'zapayn' %}">الزبائن<i class="fa-solid fa-arrow-trend-up"></i></a></li>
                    <li><a onclick="zapayn_btn()" href="{% url 'active' %}">حالة المحل<i class="fa-solid fa-circle-dot"></i></a></li>
                    <li><a onclick="zapayn_btn()" href="{% url 'editchecks' %}">الحجوزات<i class="fa-solid fa-splotch"></i></a></li>
                    <li><a onclick="zapayn_btn()" href="{% url 'editoffers' %}">العروض<i class="fa-solid fa-fire"></i></a></li>
                    <li><a onclick="admin_btn()" href="{% url 'editadmin' %}">الأدمن<i class="fa-solid fa-user"></i></a></li>
                </ul>
            </div>
        

        <div class="edit-store">
            <div class="category" style="margin-bottom: 20px;">
                <a class="addproduct-btn" href="{% url 'addproduct' %}">إضافة منتج</a>
            </div>
            <form method="POST">
                {% csrf_token %}
                <input type="search" class="search" name="search" placeholder="...ابحث عن منتج">
                <!-- <input class="search-btn" type="submit" value="Search"> -->
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            
            <form class="category" method="POST">
                {% csrf_token %}
                <select name="category-search" id="select-category">
                    <option value="الجميع">الجميع</option>
                    <option value="كريم">كريم</option>
                    <option value="جل">جل</option>
                    <option value="ماكينات حلاقة">ماكينات حلاقة</option>
                </select>
                <input class="search-btn" type="submit" value="Get" onclick="get_category()">
            </form>
            <div class="product">
                {% for i in product %}
                <div class="product-card">
                    <div class="img-pro">
                        <img src="{{i.image.url}}" alt="product-photo">
                    </div>
                    <hr style="padding:3px; background:orange; border:0; border-radius:10px">
                    <br>
                    <div class="product-date">
                        <h3>{{i.name}}</h3>
                        <div style="width:45%;display:flex;justify-content:space-between">
                            <a href="/delete-product/{{i.id}}" class="delete">حذف</a>
                            <a href="/editpro/{{i.id}}" class="edit">تعديل</a>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    


    


    <!-- footer -->

</body>
</html>